body{
    background-color: black;
}

.inception{
    margin: 50px;
    margin-left: 120px;
    width: 800px;
    min-height: 500px;
    background-color: goldenrod;
    border:inset;
    box-sizing: border-box;

}

.box{
    background-color: gold;
    width: 230px;
    height: 140px;
    float: left;
    border: 2px solid transparent;
    margin: 15px;
    box-shadow: 20px 20px 50px 10px blue inset;
    border-radius:  20px; ;
    border: groove 2px;
}

.box img{
    width: 100%;
    height: 140px;
    object-fit:inherit;
    transition: 0.7s;
    border-radius:  20px; 
   
}

.box img:hover{
    transform:scale(0.5);
    cursor:-webkit-zoom-in;

}

.aText{
    margin-top: 15px;
    /* margin-left: 120px; */
    width: 800px;
    height: 20px;
    background-color: goldenrod;
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    font-family: Forte;
    letter-spacing: 10px;
   
}

.aText:hover{
    text-transform:lowercase;
    cursor: -webkit-grabbing;
  
}
